#blog {
  padding: 2rem;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
}

.breadcrumb {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 35px;
  left: 35px;
}

.breadcrumb a, .breadcrumb span {
  color: #9FA044;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.blog-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.left-section {
  width: 65%; /* Ajustamos el ancho de la sección de los blogs */
}

.right-section {
  width: 30%; /* Ajustamos el ancho de la sección de búsqueda y temas */
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.blog-post {
  display: flex;
  align-items: center; /* Alineamos los elementos horizontalmente */
  background-color: rgba(33, 33, 33, 0.8);
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  border-bottom: 2px solid white; /* Línea blanca horizontal debajo de cada blog */
}

.blog-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1.5rem; /* Espacio entre la imagen y el contenido */
}

.blog-details {
  flex: 1; /* Para que el contenido ocupe el resto del espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-category {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: italic;
  color: #9FA044;
  margin-bottom: 0.5rem;
}

.blog-topics li {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.blog-topics li:hover {
  color: #9FA044;
}

.blog-details h3 {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

.blog-details p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #ccc;
  margin: 0.5rem 0;
  text-align: left; /* Alineamos el texto a la izquierda */
}

.search-bar {
  display: flex;
  margin-bottom: 1.5rem;
}

.search-bar input {
  width: 70%;
  padding: 0.5rem;
  border-radius: 5px 0 0 5px;
  border: none;
  font-family: 'Inter', sans-serif;
}

.search-bar button {
  padding: 0.5rem;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #9FA044;
  color: white;
  font-family: 'Inter', sans-serif;
}

.recent-posts, .blog-topics {
  margin-bottom: 2rem;
}

.recent-posts h3, .blog-topics h3 {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.recent-posts ul, .blog-topics ul {
  list-style-type: none;
  padding: 0;
}

.recent-posts li, .blog-topics li {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 0.5rem;
}

.recent-posts li:hover, .blog-topics li:hover {
  color: #9FA044;
  cursor: pointer;
}
