/* Global styles */

/* Tamaño de fuente base y estilos generales */
html {
  font-size: 120%; /* Incrementa el tamaño de la fuente base */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem; /* 1rem será ahora 110% del tamaño base */
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

/* Estilos para el video de fondo */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para la barra superior (header) */
header {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem; /* Ajustado con unidades rem */
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
}

header .logo {
  max-height: 230%;
}

/* Estilos para la barra de navegación */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 3rem; /* Ajusta con unidades rem */
}

nav a {
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  font-size: 1.1rem;
}

nav a:hover {
  color: #9FA044;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0.2rem;
  display: block;
  margin-top: 0.5rem;
  right: 0;
  background: #9FA044;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
  left: 0;
  background: #9FA044;
}

/* Estilos para la barra final (footer) */
footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  z-index: 1;
  position: relative;
  bottom: 0; /* Ajusta la posición del footer */
  width: 100%;
}

footer p {
  margin: 0;
}

/* Espacio adicional para el footer */
main {
  padding: 1rem;
  padding-bottom: 5rem; /* Espacio adicional para que el footer no se superponga al contenido */
  position: relative;
  z-index: 1;
}

/* Media Queries para responsividad */
@media (max-width: 1200px) {
  html {
    font-size: 105%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 95%;
  }

  nav li {
    margin-right: 1rem;
  }
}

/* Estilos para el nuevo footer */
.new-footer {
  background-color: rgba(33, 33, 33, 0.8);
  padding: 0.5rem 0.5rem;
  color: white;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105%; /* Asegura que el footer ocupe todo el ancho */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.new-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px; /* O el ancho máximo que prefieras */
  margin: 0 auto; /* Centra el contenido horizontalmente */
  padding: 0 1rem; /* Añade un poco de espacio en los lados */
}

.new-footer-social-icons {
  display: flex;
  align-items: center; /* Alinea verticalmente los íconos */
  gap: 1rem;
  order: 3; /* Mueve los íconos al lado derecho */
}

.new-footer-social-icons a {
  color: white;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  transition: color 0.3s ease-in-out;
}

.new-footer-social-icons a:hover {
  color: #9FA044; /* Color de hover */
}

.new-footer-form {
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  align-items: center; /* Centra horizontalmente el formulario y el botón */
  text-align: center; /* Centra el texto del formulario */
  order: 1; /* Mueve el formulario al lado izquierdo */
}

.new-footer h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.new-footer-form input[type="email"] {
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  margin: 0; /* Elimina el margen a la izquierda para centrar el input */
  width: 300px;
  margin-bottom: 1rem; 
}

.new-footer button {
  background-color: #2F303E;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: italic;
  transition: background-color 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;
  margin-bottom: 1rem; /* Añade margen inferior si deseas un poco de espacio antes de los íconos */
}

.new-footer-form button:hover {
  background-color: #9FA044;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(45deg, #9FA044 25%, #2F303E 25%, #2F303E 50%, #9FA044 50%, #9FA044 75%, #2F303E 75%, #2F303E 100%);
  background-size: 200% 200%;
  animation: gradientAnimation 1.5s ease infinite;
}
